doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Edit Tweet
    link(rel='stylesheet', href='./styles/meyers-reset.css')
    link(rel='stylesheet', href='./styles/editTweetCategory.css')
  body
    form
      fieldset
        legend Edit Tweet Category:
        input(type='text', name='category', value='category')
        // action="/action_page.php" method="post"
