doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Edit Tweet
    link(rel='stylesheet', href='./styles/meyers-reset.css')
    link(rel='stylesheet', href='./styles/editTweetContent.css')
  body
    form
      fieldset
        legend Edit Tweet Text:
        input#content(type='text', name='content', value='content-test')
    script(src='views.js')
    script(src='editContent.js')
