body div {
  /*outline: 1px dotted red;*/
  padding: 5px;
}
#logo {
  text-align: center;
  color: red;
}
h1 {
  font-size: 2em;
  text-align: center;
}
h2 {
  font-size: 1.5em;
}
button {
  margin-right: 5px;
}
.title {
  padding: 1em;
}
/*.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}*/
.tweet {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
  outline: 1px dotted red;
}
.content:hover {
  color: red;
  font-size: 105%;
}
.category:hover {
  color: red;
  font-size: 105%;
}
